/* * {
    font-family: 'Libre Franklin Thin Regular';
} */

@font-face {
    font-family: Montserrat;
    src: url(../font/montserrat.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/montserrat.woff2);
    font-weight: bold;
}

* {
    font-family: Montserrat;
}

a {
    color: #4b5320;
    text-decoration: none;
}

.bg-tranparent {
    background: rgba(255, 255, 255, 0.5);
}

.btn-main {
    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); */
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #fff;
    border-color: #0096C7;
    background-color: #0096C7;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 0px;
}

.btn-main:hover {
    background-color: #0c467c;
    /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
    color: #fff !important;
}

.section-bg {
   background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
            url('https://images.unsplash.com/photo-1552664730-d307ca884978?w=800&q=80') no-repeat;
    background-size: cover;
    min-height: 700px;
}

.section1-row {
    padding-top: 15%;
}

@media only screen and (max-width: 450px) {
    .section-bg {
        min-height: 600px;
    }
    .section1-row {
        padding-top: 50%;
    }
}

.footer {
    /* background: url('../img/Martec-footer.webp') no-repeat;
    background-size: cover; */
    color: #7f7d7d;
    background: #fff;
}

.footer p {
    font-size: 0.65em;
    line-height: 2em;
}